<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="d-inline-block">Store List</h1>
    <%= link_to "Create new store", stores_new_path, class:"btn btn-sm btn-primary" %>
  </div>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Street</th>
      <th scope="col">Number</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @stores %>
  </tbody>
</table>
</div>