<form class="d-flex">
        <input class="form-control" id="search" type="text" placeholder="Search....">
</form>
<script>
  let timeId;
  document.querySelector('#search').addEventListener('keyup', search)

  function search(e){
    if(timeId){
      clearTimeout(timeId)
    }
    timeId = setTimeout(async function(){
      try { 

      const response_search = await fetch('/search', {
        method: 'POST',
        body: JSON.stringify({
          query : e.target.value
        })
      })
      let data = await response_search.json()
      console.log(data)
      }catch(err){
        console.log(err)
      }
    }, 700)
  }
</script>