<div class="container mt-5">
  <div class="row">
    <div class="col-12">
    <h1 class="text-center">Jordan Jaramillo</h1>
    <p style="font-size:1.2rem;" class="text-center fsize-2">Desarrollador <span class="text-primary">FullStack</span></p>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-lg-3 d-flex flex-column col-lg-2 border border-dark align-items-center justify-content-evenly bg-pr py-2">
      <img src="https://media-exp1.licdn.com/dms/image/C5603AQFVU4InjpmjZw/profile-displayphoto-shrink_100_100/0/1594923008451?e=1637798400&v=beta&t=Fs7lWasMTXHVP48vIcOcZCLKfPgkF05BwfHch-cgkGw" class="img-fluid rounded-circle mx-auto d-block p-4" alt="Foto perfil Jordan Jaramillo">
      <div class="w-50 d-flex justify-content-between align-items-center">
        <div><a href="https://github.com/jordanrjdev" target="_blank"><i class="fab fa-github"></i></a></div>
        <div><a href="https://www.linkedin.com/in/jordanrjdev/" target="_blank" ><i class="fab fa-linkedin"></i></a></div>
        <div><a href="https://www.twitter.com/jordanrjdev" target="_blank"><i class="fab fa-twitter"></i></a></div>
      </div>
    </div>
    <div class="col-12 col-lg-8 border border-dark p-5 bg-pr"> 
      <p>Hola, soy desarrollador fullstack especializado en el lenguaje javascript (React, React-Native, Redux, Vue, Next y Nodejs). A día de hoy tambien me he especializado en el lenguaje de php con el framework de laravel.</p>
      <p>Acualtmente he estado aprendiendo Ruby on rails con la documentacion oficial y me ha encantado su sintaxis y la manera en como se trabaja es similar a la de laravel</p> 
    </div>
  </div>
</div>